<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<title>Ferret - Avatar</title>
    <link href="/css/avatar.css" rel="stylesheet">
  </head>

  <body>
    <h3>Avatar Customization</h3>

    <!-- Avatar container -->
    <div id="avatarContainer">
      <!-- Avatar image -->
      <img src="/images/test_ferret.png" id="avatarBase">
    </div>

    <!-- Inventory tabs -->
    <div class="inventoryTabs">
      <div class="tab" id="tab0" onclick="selectTab(0)">Hats</div>
      <div class="tab" id="tab1" onclick="selectTab(1)">Tops</div>
      <div class="tab" id="tab2" onclick="selectTab(2)">Shoes</div>
    </div>

    <!-- Inventory container -->
    <div id="inventoryContent">
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/avatar.js"></script>
  </body>
</html>