<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/images/favicon.ico?" rel="icon" type="image/x-icon">
    <style>
       #footer1 {
           /*position:absolute;*/
           bottom: 0;
           width: 100%;
           height: 100px;
       }
    </style>

    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>

    <title>Ferret</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/hovereffect.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
</head>


<body>
    <div id="navbar">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"><span class="sr-only">Toggle Navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <a class="navbar-brand" href="/home">Ferret</a>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <nav class="navbar navbar-default navbar-fixed-top" id="mainNav">
                <div class="container-fluid">
                    
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"><span class="sr-only">Toggle Navigation</span> Menu <i class="fa fa-bars"></i></button> <a class="navbar-brand page-scroll" href="/home">Ferret</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/home"><b>Map</b></a>
                            </li>
                            <!--<li>
                                <a href="/quests"><b>Quests</b></a>
                            </li>-->
                            <li>
                                <a href="/avatar"><b>Avatar</b></a>
                            </li>
                            <li>
                                <a href="/stats"><b>Stats</b></a>
                            </li>
                            <li>
                                <a href="/faq"><b>FAQ</b></a>
                            </li>
                            <li>
                                <a href="" id="lg_signout"><b>Sign Out</b></a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </nav>
    </div><!-- /.container-fluid -->

    <!-- END HEADER -->


    <!-- START CONTENT CONTAINER HERE -->

    <center><h1>Frequently Asked Questions</h1></center>

    <div class="container">
        <br />

        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            Below you will find a list of frequently asked questions. If you cannot find an answer to your question, be sure to contact us!
        </div>

        <div class="panel-group" id="accordion">
            <h3>General Questions</h3>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">What is Ferret?</a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse">
                    <div class="panel-body">
                        Ferret is a real-world exploration game featuring point-of-interest discovery and avatar customization.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Why is the map green?</a>
                    </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse">
                    <div class="panel-body">
                        Your world is displayed as covered with green "grass". As you travel around more, the places you have visited become "clear" on the map.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">How do I find items?</a>
                    </h4>
                </div>
                <div id="collapseTwelve" class="panel-collapse collapse">
                    <div class="panel-body">
                        To find items, you need to get out and explore! Items will be stylized as pins on your map. To pick an item up, simply click on the pin and hit the "Pick Up" button!
                    </div>
                </div>
            </div>
            <!--<div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">What are Quests?</a>
                    </h4>
                </div>
                <div id="collapseThirteen" class="panel-collapse collapse">
                    <div class="panel-body">
                        Quests are goals that you can work towards as you explore the world more with Ferret. After completing a quest, you can receive special items.
                    </div>
                </div>
            </div>-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">How do I customize my ferret avatar?</a>
                    </h4>
                </div>
                <div id="collapseFourteen" class="panel-collapse collapse">
                    <div class="panel-body">
                        Go to the Avatar page, and select among the available items that you would like to use to dress up your ferret avatar. Don't forget to Save the look that you would like to keep for your ferret!
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen">What are Stats?</a>
                    </h4>
                </div>
                <div id="collapseFifteen" class="panel-collapse collapse">
                    <div class="panel-body">
                        Stats shows statistics related to your account, such as how far you have traveled over time.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BEGIN FOOTER -->
        <div id="footer1">
            <section id="contact">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 text-center">
                            <h2 class="section-heading">Let's get in touch!</h2><legend></legend>
                            <p>Send us a message or reach us on social media.</p><br>
                        </div><br>
                        <div class="col-lg-2 col-lg-offset-2 text-center" style="color:black">
                            <i class="fa fa-phone fa-3x sr-contact"></i>
                            <p>(858) 456-7890</p>
                        </div>
                        <div class="col-lg-2 text-center">
                            <a href="mailto:teamferret@gmail.com"><i class="fa fa-envelope-o fa-3x sr-contact" style="color:black"></i></a>
                            <p><a href="mailto:teamferret@gmail.com" style="color:black">teamferret@gmail.com</a></p>
                        </div>
                        <div class="col-lg-2 text-center">
                            <a href="http://linkedin.com"><i class="fa fa-linkedin fa-3x sr-contact" style="color:black"></i></a>
                            <p><a href="http://linkedin.com" style="color:black">linkedin.com</a></p>
                        </div>
                        <div class="col-lg-2 text-center">
                            <a href="http://facebook.com"><i class="fa fa-facebook fa-3x sr-contact" style="color:black"></i></a>
                            <p><a href="http://facebook.com" style="color:black">facebook.com</a></p>
                        </div>
                    </div>
                </div>
            </section>
            <center>
                <br>
                © 2017 Ferret Inc.<br>
                <br>
            </center>
        </div>


    <!-- END CONTENT CONTAINER HERE -->


    <!-- JavsScript -->
    <script src="/js/firebaseFunc.js"></script> 
    <!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSeT5rOlsjBJr1kBi0heKYx2qHq_EnjXM&libraries=visualization&callback=initMap">
    </script> -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script> 

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>
