<!DOCTYPE html>
<html>
  <head>
  	<title>Ferret</title>
    <link href="/css/index.css" rel="stylesheet">
  </head>

  <body>
    <h3>Ferret</h3>

    <!-- Map container -->
    <div id="map"></div>

    <!-- Scripts -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSeT5rOlsjBJr1kBi0heKYx2qHq_EnjXM&callback=initMap"></script>
    <script src="/js/map.js"></script>
  </body>
</html>